*{
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 80%;
    max-height: 90%;
    margin: 0 auto;
}
.container {
   /*  background-color: rgb(241, 214, 214); */
    display: grid;
    gap: 1rem;
}

.nav {
    box-shadow: 0px 0px 5px rgb(134, 53, 53);
    background-color: white;
}

.ul {
    display: flex;
    gap: 2rem;
    justify-content: start;
}

.ul li {
    list-style: none;
}

.ul a {
    text-decoration: none;
}
.ul a:hover {
    text-decoration: underline;
    background-color: violet;
}

.article {
    display: flex;
    justify-content: start;
    gap: .2rem;
}

img {
    width: 25%;
}

h3 {
    margin: 0 10px;
}
section {
    border: 1px solid black;
    text-align: center;
}

.box {
    
    box-shadow: 1px 1px 5px 3px rgb(137, 156, 136);
}

/* //background colors */
.header {
    background-color: hsla(120, 50%, 50%, 1);
}
.nav {
    background-color: hsla(0, 50%, 50%, .5);
}
.main {
    background-color: hsla(200, 50%, 50%, .2);
}
.footer {
    background-color: hsla(120, 50%, 50%, .5);
}
